<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!--
  <appSettings>
    <add key="Environment" value="Configuration"/>
    <add key="Copyright" value="demo@aprovi.com.mx"/>
    <add key="System" value="1"/>
    <add key="Reports" value="C:\Program Files (x86)\Aprovi Software\Proyecto-CN70\CompuNegocio\CompuNegocio\Reports\"/>
    <add key="Xml" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio_1\XML"/>
    <add key="Pdf" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio_1\PDF"/>
    <add key="Cbb" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio_1\CBB"/>
    <add key="Logo" value="C:\Program Files (x86)\Aprovi Software\Proyecto-CN70\CompuNegocio\CompuNegocio\CN-Logo.jpg"/>
    <add key="Estacion" value="2"/>
    <add key="CSD" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio_1\Files\CSDCSO1211145F0.pfx"/>
    <add key="Scanner" value="0"/>
    <add key="ScannerCode" value=""/>
    <add key="Drawer" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
	-->
  <appSettings>
    <add key="Environment" value="Configuration" />
    <add key="Copyright" value="demo@aprovi.com.mx" />
    <add key="System" value="1" />
    <add key="Reports" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio 7\Reports\" />
    <add key="Xml" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio 7\" />
    <add key="Pdf" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio 7\" />
    <add key="Cbb" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio 7\" />
    <add key="Logo" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio 7\CN-Logo.jpg" />
    <add key="Estacion" value="1" />
    <add key="CSD" value="C:\Program Files (x86)\Aprovi Software\CompuNegocio_1\Files\CSDJUFA7608212V6.pfx" />
    <add key="Scanner" value="0" />
    <add key="ScannerCode" value="" />
    <add key="Drawer" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--Compuregistro-->
    <!--Pruebas CompuNegocio-->
    <add name="CNEntities" connectionString="metadata=res://*/Models.CNModel.csdl|res://*/Models.CNModel.ssdl|res://*/Models.CNModel.msl;provider=System.Data.SqlClient;provider connection string='data source=compunegocio.net;initial catalog=compune1_alma;persist security info=True;user id=compune1_alma;password=Alma2021.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <!--Skywalker-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>